In [2]:
import pandas as pd

In [56]:
Beijing_NO2 = pd.read_csv('Beijing_2021-06-29_CN01-N1.csv')
Dhaka_CO2 = pd.read_csv('Dhaka_2021-06-29_BD01-N2.csv')
NewYork_NO2 = pd.read_csv('New York_2021-06-28_US01-N1.csv')
NewYork_CO2 = pd.read_csv('New York_2021-06-29_US01-N2.csv')
San_Francisco_NO2 = pd.read_csv('San Francisco_2021-06-29_US03-N1.csv')

In [57]:
Beijing_NO2 = Beijing_NO2.assign(indicatorValue='NO2 Emission Beijing')
Dhaka_CO2 = Dhaka_CO2.assign(indicatorValue='CO2 Emission Dhaka')
NewYork_NO2 = NewYork_NO2.assign(indicatorValue='NO2 Emission New York')
NewYork_CO2 = NewYork_CO2.assign(indicatorValue='CO2 Emission New York')
San_Francisco_NO2 = San_Francisco_NO2.assign(indicatorValue='NO2 Emission San Francisco')

In [26]:
display(Beijing_NO2.head())
display(Dhaka_CO2.head())
display(NewYork_NO2.head())
display(NewYork_CO2.head())
display(San_Francisco_NO2.head())

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2018-05-07T00:00:00.000Z,"LatLng(39.9, 116.38)",194.21602,NO2 Emission Beijing,2018-05-07T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
1,2018-05-21T00:00:00.000Z,"LatLng(39.9, 116.38)",143.73322,NO2 Emission Beijing,2018-05-21T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
2,2018-06-04T00:00:00.000Z,"LatLng(39.9, 116.38)",133.34633,NO2 Emission Beijing,2018-06-04T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
3,2018-06-18T00:00:00.000Z,"LatLng(39.9, 116.38)",130.20685,NO2 Emission Beijing,2018-06-18T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
4,2018-07-02T00:00:00.000Z,"LatLng(39.9, 116.38)",151.91910,NO2 Emission Beijing,2018-07-02T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2016-04-01T00:00:00.000Z,"LatLng(23.8, 90.3)",-2.80,CO2 Emission Dhaka,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
1,2017-01-01T00:00:00.000Z,"LatLng(23.8, 90.3)",5.94,CO2 Emission Dhaka,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
2,2017-02-01T00:00:00.000Z,"LatLng(23.8, 90.3)",1.54,CO2 Emission Dhaka,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
3,2017-03-01T00:00:00.000Z,"LatLng(23.8, 90.3)",3.14,CO2 Emission Dhaka,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
4,2017-04-01T00:00:00.000Z,"LatLng(23.8, 90.3)",4.87,CO2 Emission Dhaka,Invalid DateTime,JAXA,GOSAT,BLUE,NaN

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2018-05-07T00:00:00.000Z,"LatLng(40.71268, -74.005812)",155.086430,NO2 Emission New York,2018-05-07T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
1,2018-05-21T00:00:00.000Z,"LatLng(40.71268, -74.005812)",110.780000,NO2 Emission New York,2018-05-21T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
2,2018-06-04T00:00:00.000Z,"LatLng(40.71268, -74.005812)",95.689964,NO2 Emission New York,2018-06-04T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
3,2018-06-18T00:00:00.000Z,"LatLng(40.71268, -74.005812)",89.165760,NO2 Emission New York,2018-06-18T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
4,2018-07-02T00:00:00.000Z,"LatLng(40.71268, -74.005812)",98.917145,NO2 Emission New York,2018-07-02T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2016-04-01T00:00:00.000Z,"LatLng(40.71268, -74.005812)",5.05,CO2 Emission New York,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
1,2017-01-01T00:00:00.000Z,"LatLng(40.71268, -74.005812)",5.60,CO2 Emission New York,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
2,2017-02-01T00:00:00.000Z,"LatLng(40.71268, -74.005812)",6.16,CO2 Emission New York,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
3,2017-03-01T00:00:00.000Z,"LatLng(40.71268, -74.005812)",8.79,CO2 Emission New York,Invalid DateTime,JAXA,GOSAT,BLUE,NaN
4,2017-04-01T00:00:00.000Z,"LatLng(40.71268, -74.005812)",3.18,CO2 Emission New York,Invalid DateTime,JAXA,GOSAT,BLUE,NaN

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2018-05-07T00:00:00.000Z,"LatLng(37.7775, -122.416389)",32.618725,NO2 Emission San Francisco,2018-05-07T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
1,2018-05-21T00:00:00.000Z,"LatLng(37.7775, -122.416389)",36.145203,NO2 Emission San Francisco,2018-05-21T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
2,2018-06-04T00:00:00.000Z,"LatLng(37.7775, -122.416389)",30.362528,NO2 Emission San Francisco,2018-06-04T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
3,2018-06-18T00:00:00.000Z,"LatLng(37.7775, -122.416389)",36.565193,NO2 Emission San Francisco,2018-06-18T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2
4,2018-07-02T00:00:00.000Z,"LatLng(37.7775, -122.416389)",36.842640,NO2 Emission San Francisco,2018-07-02T00:00:00.000Z,EMSS,TROPOMI,/,Sentinel-5p Level-3 NO2

In [62]:
#cols = ["Date","indicatorValue","City","Value"]
new_df = pd.DataFrame(columns=["Date","indicatorValue","City","Measurement"])

In [61]:
display(new_df)

Empty DataFrame
Columns: [Date, indicatorValue, City, Measurement]
Index: []

In [54]:
Beijing_NO2 = ['time','indicatorValue','Value']
Beijing_NO2

['time', 'indicatorValue', 'Value']

In [10]:
df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')

In [12]:
display (df)
df.to_csv('test.csv')

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN
...,...,...,...,...
36955,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
36956,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
36957,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
36958,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
36959,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139